
<div class="example " data-component="example" data-active-class="example--active">
    <div class="example__frame">
        <div class="space space--medium">
  
            <div id="options-start-at" class="slider glide">
                <div class="slider__track glide__track" data-glide-el="track">
                    <ul  id="ActiveFrames2"class="slider__slides glide__slides">    
                                     <li class="slider__frame glide__slide"> <MudCard>
                                                                                             <MudCardMedia Image="https://source.unsplash.com/1600x900/?Console" />
                                                                                             <MudCardContent>
                                                                                                 <h1 class="display-4">
                                                                                                     Console
                                                                                                     <a href="https://digitalPlayground.ben-hassen.com" target="_blank"></a> 
                                                                                                 </h1>
                                                                                             
                                                                                 <div  id="cliContainer" tabIndex="-1"></div>
                                                                                             </MudCardContent>
                        </MudCard></li>            
                        <li class="slider__frame glide__slide"> <LightSwitch></LightSwitch> </li>
                      
                        <li class="slider__frame glide__slide">     <AccumulatorCard> </AccumulatorCard></li>     
                            <li class="slider__frame glide__slide">     <NicePage> </NicePage></li>           
                        <li class="slider__frame glide__slide">     <OnlineRoom></OnlineRoom></li>                    
      
                    </ul>
                </div>               
   
                
            </div>
           
        </div>
         
    </div>

</div>
