@page "/home"

<MudPaper Elevation="3">
    <MudContainer  Fixed="true" MaxWidth="MaxWidth.Small">
        
        <MudCard>
            <MudCardMedia Image="https://source.unsplash.com/1600x900/?DRESDEN" />
            <MudCardContent>
                <h1 class="display-4">
                    About this Website
                    <a href="https://digitalPlayground.ben-hassen.com" target="_blank"></a> 
                </h1>
                    <NicePage></NicePage>
              

            </MudCardContent>         
        </MudCard>        
              </MudContainer>
</MudPaper>




